# Log level (debug, log, warn, error)
LOG_LEVEL=log

LLM_PROVIDER=openrouter-ai
LLM_API_KEY=your-openrouter-api-key-here
LLM_BASE_URL=https://openrouter.ai/api/v1/
VITE_LLM_MODEL=google/gemini-2.5-flash
